<div class="country_product_container">
  <div class="country_product_title">
    <%= current_user.username %>出品中のおみや
  </div>
  <div class="products_list">
    <% current_user.products.each do |product| %>
    <div class="product_parts">
      <%= link_to product_path(product) do %>
        <% if !product.image.blank? %>
          <%= image_tag product.image.url, class: "product_image" %>
        <% else %>
          <%= image_tag 'noimage.jpeg', class: "product_image" %>
        <% end %>
      <% end %>
      <p class="product_name"><%= link_to product.productname, product_path(product) %></p>
      <%= link_to '編集', edit_product_path(product), class: "product_edit" %>
      <%= link_to '削除', product_path(product), method: :delete, data: { confirm: '削除しますか？' }, class: "product_destroy" %>
    </div>
    <% end %>
  </div>
</div>